<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GOOGLE_CLIENT_ID</key>
	<string>$(GOOGLE_CLIENT_ID)</string>
	<key>GOOGLE_REDIRECT_URI</key>
	<string>$(GOOGLE_REDIRECT_URI)</string>
	<key>DISCOGS_CONSUMER_KEY</key>
	<string>$(DISCOGS_CONSUMER_KEY)</string>
	<key>DISCOGS_CONSUMER_SECRET</key>
	<string>$(DISCOGS_CONSUMER_SECRET)</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>GOOGLE_CLIENT_SECRET</key>
	<string>$(GOOGLE_CLIENT_SECRET)</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow Vinyls to access your photos to set album artwork.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allow Vinyls to save album artwork images to your Photos.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.vinyls.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vinyls</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
